# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/.next/
/out/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local env files
.env
.env*.local

# Test outputs
/coverage

# Misc
.DS_Store
*.pem
